################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/02
/03
/.vs/advent-2022/FileContentIndex/48138919-e67c-4851-8200-e47aaecabb04.vsidx
/.vs/advent-2022/FileContentIndex
